<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Task Manager</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <header>
            <nav>
                <div class="logo">Task Manager</div>
                <ul>
                    <li><a href="/tasks">All Tasks</a></li>
                    <li><a href="/tasks/new">Add Tasks</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <%- body %>
        </main>

        <footer>
            <p>&copy; Task Manager App</p>
        </footer>

        <script src="/js/main.js"></script>
    </body>
</html>